---

services:
  api:
    build: .
    env_file: .env
    ports: ["8080:8080"]
    depends_on: [db]
  db:
    image: postgres:16
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_USER: betsandpedestres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: betsandpedestres
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer:5
    restart: always
    ports:
      - 127.0.0.1:8081:8080
    environment:
      ADMINER_DEFAULT_SERVER: db


volumes:
  pgdata: {}
